# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

# Notion
NOTION_DATABASE_ID=
NOTION_LANGUAGES_DATABASE_ID=
NOTION_LEVELS_DATABASE_ID=
NOTION_CHAPTERS_DATABASE_ID=
NOTION_TOPICS_DATABASE_ID=

# R2
R2_BUCKET=
R2_PUBLIC_BASE_URL=

# Other
CACHE_REFRESH_HOURS=1
